body {
  margin: 0;
  font-family: 'Space Grotesk';
  background-color: hsl(0, 0%, 100%);
  font-size: 18px;
  background-image: url('./Assets/desktopBack.png');
  background-repeat: no-repeat;
  background-size: 30vw 100vh;
}